name: CI

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

jobs:
  parameters:
    name: Set parameters
    runs-on: ubuntu-latest
    outputs:
      TOOL_CHAIN: nightly-2022-08-28
      BINUTILS_VERSION: 0.3.6

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Cache rust-toolchain
        if: github.event_name != 'schedule'
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup/settings.toml
            ~/.rustup/toolchains
            ~/.rustup/update-hashes
          key: toolchain-${{ needs.parameters.outputs.TOOL_CHAIN }}
      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ needs.parameters.outputs.TOOL_CHAIN }}
          target: riscv64gc-unknown-none-elf
          profile: minimal
          components: rust-src, llvm-tools-preview

      # os.bin cannot be started if it contains metadata
      # Need objcopy to erase metadata
      - name: Install cargo-binutils
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-binutils
          version: ${{ needs.parameters.outputs.BINUTILS_VERSION }}
          cache-key: binutils-${{ needs.parameters.outputs.BINUTILS_VERSION }}

  lint:
    name: Check
    runs-on: ubuntu-latest
    needs: ["parameters", "build"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Restore cache rust-toolchain
        if: github.event_name != 'schedule'
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup/settings.toml
            ~/.rustup/toolchains
            ~/.rustup/update-hashes
          key: toolchain-${{ needs.parameters.outputs.TOOL_CHAIN }}

      - name: Restore cache cargo-binutils
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-binutils
          version: ${{ needs.parameters.outputs.BINUTILS_VERSION }}
          cache-key: binutils-${{ needs.parameters.outputs.BINUTILS_VERSION }}

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Run `cargo check`
        run: make check

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Check formatting
        run: make fmt-check

  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    needs: ["parameters", "build"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Cache QEMU
        uses: actions/cache@v3
        with:
          path: qemu-7.0.0
          key: qemu-7.0.0-x86_64-riscv64
      - name: Install QEMU
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build -y
          if [ ! -d qemu-7.0.0 ]; then
            wget https://download.qemu.org/qemu-7.0.0.tar.xz
            tar -xf qemu-7.0.0.tar.xz
            cd qemu-7.0.0
            ./configure --target-list=riscv64-softmmu
            make -j
          else
            cd qemu-7.0.0
          fi
          sudo make install
          qemu-system-riscv64 --version

      - name: Restore cache rust-toolchain
        if: github.event_name != 'schedule'
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup/settings.toml
            ~/.rustup/toolchains
            ~/.rustup/update-hashes
          key: toolchain-${{ needs.parameters.outputs.TOOL_CHAIN }}

      - name: Restore cache cargo-binutils
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-binutils
          version: ${{ needs.parameters.outputs.BINUTILS_VERSION }}
          cache-key: binutils-${{ needs.parameters.outputs.BINUTILS_VERSION }}

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Run test
        run: cd ./os && make run TEST=1
        timeout-minutes: 10

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    needs: ["parameters", "build"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Restore cache rust-toolchain
        if: github.event_name != 'schedule'
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup/settings.toml
            ~/.rustup/toolchains
            ~/.rustup/update-hashes
          key: toolchain-${{ needs.parameters.outputs.TOOL_CHAIN }}

      - name: Restore cache cargo-binutils
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-binutils
          version: ${{ needs.parameters.outputs.BINUTILS_VERSION }}
          cache-key: binutils-${{ needs.parameters.outputs.BINUTILS_VERSION }}

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Run `cargo clippy`
        run: make clippy
